body{
  background-color: rgba(22, 22, 133, 0.795);
  background-image:url("/home/giuseppe/Desktop/simple-js-app/img/jie-dkFJST9zZZo-unsplash.jpg") ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 20px;
  margin-left: 20px;
  font-size: larger;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  

}
.header-logo{
    height: 300px;
}
.logo-pokemon{
    height: 90px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #loading{
    width:2rem;
    height: 2rem;
    border:5px solid #f3f3f3;
    border-top:6px solid #9c41f2;
    border-radius:100%;
    margin:auto;
    visibility:hidden;
    animation:spin 1s infinite linear;

    }
    #loading.display{
      visibility:visible;
    }
      @keyframes spin{
        from{
          transform:rotate(0deg)
        }
        to{
          transform:rotate(360deg)
        }
      }
      .list-group {
        text-align: center;
        width: 700px;
        margin: 40px auto;
      } 
    #pokemonModal{
      text-align: center;
    }
    .img-element{
      width: 180px;
    }
   .content img{
     width: 30%;
     margin-top: 70px;
     animation:moveVertical 2s ease infinite alternate;
   }

   @keyframes moveVertical {
    0% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(-17px);
    }
  }
  .content p{
    margin-top:45px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: larger;
    font-weight:400;
    color: rgb(250, 241, 241);
    backdrop-filter: blur(25px);
  }
  #nav-pokedex{
    font-size:30px;
  }
 #icon{
   display: block;
   margin: 0 auto;
   color:rgba(185, 185, 240, 0.678);
   font-size:15px;
 }

.listItem{
  text-align: center;
}
